export FIRESTORE_EMULATOR_HOST=localhost:8081
export FIRESTORE_EMULATOR_PORT=8081
export FIREBASE_FIRESTORE_EMULATOR_ADDRESS=localhost:8081
export GCLOUD_PROJECT=sid-6652247777013309449-dev
# export FIREBASE_EMULATOR_HUB=localhost:10000